.gameItem{
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .2s linear;

}

:global(.rock) {
	transform: translate(330px, 250px);

	// &:hover {
	// 	transform: translate(330px, 250px) scale(1.2);
	// }
}

:global(.lizard) {
	transform: translate(140px, 250px);

	// &:hover {
	// 	transform: translate(140px, 250px) scale(1.2);
	// }
}

:global(.spock) {
	transform: translate(80px, 80px);

	// &:hover {
	// 	transform: translate(80px, 80px) scale(1.2);
	// }
}

:global(.paper) {
	transform: translate(390px, 80px);

	// &:hover {
	// 	transform: translate(390px, 80px) scale(1.2);
	// }
}

:global(.scissors) {
	transform: translate(240px, -40px);

	// &:hover {
	// 	transform: translate(240px, -40px) scale(1.2);
	// }
}

:global(.active) {
	transform: translate(0, 100px) scale(1.8);
}

:global(.wins) {
	transition: box-shadow 0.4s;
	box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.03), 0 0 0 60px rgba(255, 255, 255, 0.02), 0 0 0 90px rgba(255, 255, 255, 0.01);
}

