.computerGameItem {
	width: 120px;
	height: 120px;
	background: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 0.2s linear;
	transform: translate(480px, 100px) scale(1.8);
	border: 15px solid gray;
	font-size: 50px;
}
