.result {
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	min-height: 150px;

	&__text {
		min-height: 60px;
	}
}

.playAgain {
	border: none;
	background-color: white;
	border-radius: 10px;
	padding: 20px 60px;
	font-weight: 700;
	color: hsl(229, 25%, 31%);
	cursor: pointer;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	z-index: 1;
}

